.title {
    height: 310px;
    background-color: #4a154b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000;
}

.title h1 {
    font-family: "Black Ops One", system-ui;
    font-wight: 400;
    font-style: normal;
}

.title p {
    font-size: 30px;
    margin-top: 15px;
}

/* 年表全体 */
.history {
    width: 930px;
    max-width: 90%;
    margin: 70px auto;
}

/* 1つの出来事 */
.feature {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 35px;
    padding: 30px 40px;
    background: #ffffff;
    border-left: 10px solid #6a0dad;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

/* 年 */
.year {
    min-width: 120px;
    font-size: 42px;
    font-family: "Cherry Bomb One", cursive;
    color: #6a0dad;
    text-align: center;
}

/* 説明 */
.feature-text {
    flex: 1;
}

.feature-text h2 {
    font-size: 26px;
    font-weight: bold;
}

.feature-text h2::after {
    content: "";
    display: block;
    width: 45px;
    height: 3px;
    background: #6a0dad;
    margin-top: 12px;
}

.feature-text p {
    margin-top: 18px;
    line-height: 28px;
    font-size: 16px;
}

/* 偶数だけ色を変える */
.feature:nth-child(even) {
    border-left-color: #d4af37;
}

.feature:nth-child(even) .year {
    color: #d4af37;
}

.feature:nth-child(even) .feature-text h2::after {
    background: #d4af37;
}

.feature-image img{
    width: 450px;
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.footer {
    margin-top: 80px;
}


/* スマホ */
@media (max-width:800px){

.title{
    height:200px;
}

.title h1{
    font-size:26pt;
}

.history{
    width:90%;
}

.feature{
    display:block;
    padding:25px;
}

.feature-image img{
    width:220px;
    display:block;
    margin:0 auto 20px;
}

.year{
    font-size:34px;
    margin-bottom:15px;
}

.feature-text h2{
    font-size:22px;
}

.feature-text p{
    font-size:15px;
    line-height:26px;
}

}
