.title {
    height: 310px;
    background-color: #4a154b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #000;
}

.title h1 {
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.title p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
    color: #d4af37;
}
.timeline{
    position: relative;
    max-width: 900px;
    margin: 60px auto;
    padding-left: 60px;
}

.timeline::before{
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
    bottom: 0;
    width: 5px;
    background: linear-gradient(#6b2fb3,#b98cff,#6b2fb3);
    border-radius: 10px;
}

.event{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 35px;
}

.event::before{
    content: "";
    position: absolute;
    left: -46px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 5px solid #6b2fb3;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(107,47,179,.35);
}

.year{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #4a154b;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 22px;
    font-weight: bold;
    flex-shrink: 0;

    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.content{
    flex: 0 1 650px;
    max-width: 650px;

    background: #fff;
    border-radius: 20px;
    padding: 22px 28px;

    border-left: 8px solid #6b2fb3;
    border: 1px solid #ece5ff;

    box-shadow: 0 8px 25px rgba(0,0,0,.08);
    transition: .3s;
}

.content:hover{
    transform: translateX(10px) scale(1.02);
    box-shadow: 0 15px 35px rgba(107,47,179,.25);
}

@media (max-width:800px){

.title{
    height:200px;
}

.title h1{
    font-size:32px;
}

.title p{
    font-size:16px;
}

.timeline{
    padding-left:35px;
    margin:40px auto;
}

.timeline::before{
    left:12px;
}

.event{
    flex-direction:column;
    align-items:flex-start;
    gap:12px;
    margin-bottom:25px;
}

.event::before{
    left:-28px;
    width:14px;
    height:14px;
    border:3px solid #6b2fb3;
}

.year{
    width:50px;
    height:50px;
    font-size:16px;
}

.content{
    width:100%;
    max-width:100%;
    padding:15px 18px;
    font-size:14px;
    border-left:6px solid #6b2fb3;
}

}
